<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OCR</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style>
    img {
        border: 1px solid black;
        box-shadow: 2px 2px black;
    }
    </style>
</head>
<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">APP FOR TEST OCR IN SIMPLE RECAPTCHA</h1>
          <p class="lead">build with tensorflow and flask</p>
        </div>
      </div>

    <div class="container">
        <div class="row">
            <div id="OCR" class="col">
                <h3>IMAGE FOR SOLVER</h3>
                <img id="imgForSolver" src="static/screen1.png" alt="IMAGE FOR SOLVER">
                <button id="comfirmeSolver" style="font-size: 10pt;">Comfirme Solver</button>
            </div>

            <div id="GetImage" class="col">
                <h3>IMAGE FOR CHOICE</h3>
                <img id="imgForChoice" src="static/screen1.png" alt="IMAGE FOR CHOICE">
                <select id="imageSelect">
                    {% for i in range(126) %}
                    <option value="static/screen{{i}}.png">screen{{i}}</option>
                    {% endfor %}
                </select>
                <button id="comfirmeChoice" style="font-size: 10pt;">Comfirme Choice</button>
            </div>

        </div>
    </div>

    <script>
        var valueOption 
        $('#imageSelect').change(function() {
            valueOption = $('#imageSelect').val()
            $('#imgForChoice').attr('src',valueOption)
        })
        $('#comfirmeChoice').click(function() {
            $('#imgForSolver').attr('src',valueOption)
        })
        $('#comfirmeSolver').click(function() {
            var data = $('#imgForSolver').attr('src')

            url = `http://localhost:5000/imageSend?imgName=${data}`

            fetch(url)       
                .then(function (response) {
                    return response.text()
                })
                .catch(function (reject) {
                    console.log(reject)
                })
        })
    </script>
    
</body>
</html>